includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    paths:
        - src
    universalObjectCratesClasses:
        - Framework\Utils\Errors

    # Strict Rules
    strictRules:
        noVariableVariables: false
        disallowedEmpty: false

        disallowedLooseComparison: true
        booleansInConditions: true
        uselessCast: true
        requireParentConstructorCall: true
        disallowedBacktick: true
        disallowedImplicitArrayCreation: true
        disallowedShortTernary: true
        overwriteVariablesWithLoop: true
        closureUsesThis: true
        matchingInheritedMethodNames: true
        numericOperandsInArithmeticOperators: true
        strictFunctionCalls: true
        dynamicCallOnStaticMethod: false
        switchConditionsMatchingType: false
        strictArrayFilter: false
        illegalConstructorMethodCall: false
