includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    phpVersion: 80300
    level: 10
    paths:
        - src
    universalObjectCratesClasses:
        - Framework\Utils\Errors

    # Extra Rules
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
    checkMissingCallableSignature: true

    # Strict Rules
    strictRules:
        noVariableVariables: false

        booleansInConditions: true
        booleansInLoopConditions: true
        numericOperandsInArithmeticOperators: true
        strictFunctionCalls: true
        overwriteVariablesWithLoop: true
        switchConditionsMatchingType: true
        dynamicCallOnStaticMethod: true
        disallowedEmpty: true
        disallowedShortTernary: true
        matchingInheritedMethodNames: true
        requireParentConstructorCall: true
        disallowedBacktick: true
        closureUsesThis: true

        disallowedLooseComparison: true
        uselessCast: true
        disallowedImplicitArrayCreation: true
        strictArrayFilter: true
        illegalConstructorMethodCall: true

    ignoreErrors:
        -
            identifier: offsetAccess.notFound
            path: src/Utils/AES.php
