<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/Bootstrap.php"
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Date Tests">
            <directory>tests/Date</directory>
        </testsuite>
        <testsuite name="Enum Tests">
            <directory>tests/Enum</directory>
        </testsuite>
        <testsuite name="File Tests">
            <directory>tests/File</directory>
        </testsuite>
        <testsuite name="IO Tests">
            <directory>tests/IO</directory>
        </testsuite>
        <testsuite name="Utils Tests">
            <directory>tests/Utils</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
