<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/Bootstrap.php"
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Framework Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
